<h1>Edit animal information</h1>
<form method="POST" action="/animals">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name" style="color:white;">Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div class="form-el">
      <label for="age"  style="color:white;">Type:</label>
      <input type="number" name="age" id="age"/>
    </div>

    <div class="form-el">
      <label for="admission_date"  style="color:white;">Admission Date:</label>
      <input type="text" name="admission_date" id="admission_date"/>
    </div>

    <div class="form-el">
      <label for="adoptable"  style="color:white;">Ready for adoption?</label>
      <input type="text" name="adoptable" id="adoptable"/>
    </div>

    <div class="form-el"  style="color:white;">
      <input type="submit" value="Shelter Animal"/>
    </div>

  </div>
</form>
