<h1>Customers</h1>

<p>This page shows the customers of the animal shelter, along with their ID, age, and profession.</p>

<table>
  <tr>
    <th>Name</th>
    <th>Customer ID</th>
    <th>Age</th>
    <th>Profession</th>
  </tr>
  <% for customer in @customers %>
  <tr>
    <th><%= customer.name %></th>
    <th><%= customer.id %></th>
    <th><%= customer.age %></th>
    <th><%= customer.profession %></th>
  </tr>

  <% end %>
</table>
